apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}
spec:
  selector:
    appName: {{ .Values.appName }}
  ports:
    - port: {{ .Values.port }} # Service port [internally load balancer service port is 80 ]
      targetPort: {{ .Values.targetPort }}  # Pod container port
  type: {{ .Values.serviceType }}